body{

    box-sizing: border-box;
}

/* Start button design */
.btn{
    padding:10px 20px;
    color:  white;
    background-color: green ;
    margin-left:10px;
    text-decoration: none;
    border:2px solid green;
    margin-bottom: 20px;;
}
.btn:hover{
    background-color:white;
    color:black;
}
/* End button design */

/* Start ul design */

.drinks {
    list-style-type: square;
    margin-bottom: 20px;;
     background-color: yellow;
    width:250px;
}
.drinks li::marker{
color:orange;
}
/* End ul design */

/* Start task three design  */
.t3{
    position: relative;
    margin-bottom: 20px;;
}
.t3 img{
    width:100px;
    height:150px;
    position: absolute;
    top: -5px;
    z-index: -1;
}
/* End task three design  */

/* Start design Four  */
.t4{
    margin-top:150px;
}
.cuntries{
    display: flex;
    flex-direction: column;
    gap:8px;
    width:350px;
    background-color:#D3D3D3;
    padding:30px 30px;
    border-radius: 10px;;
}
.cuntries input,
.cuntries select
{
    padding:10px 20px;
    border:none;
}
.cuntries input[type="submit"]{
    margin-top:10px;
    border:none;
    background-color:#2C8000;
    color:white;
    border-radius: 5px;;
    cursor: pointer;
}
/* End design Four  */
